.header-container {
    margin-left: 3%;
    font-size: 25px;

}

.container {
    text-align: center;
    max-width: 40%;
}



#countdown {
    text-align: right;
    margin-right: 50px;
    font-size: 45px;
    color: tomato;
}

a {
    margin: 5px 0 5px 0;
}

.hide {
    display: none !important;
}

#quiz {
    background-color: rgba(57, 177, 247, 0.432);
    border-radius: 50px;
    padding: 40px;
}

#comment {
    border-top: rgba(128, 128, 128, 0.418) 2px solid;
    margin-top: 20px;
    font-style: italic;
    color: rgba(128, 128, 128, 0.555);

}
#questions {
    width: 50%;
    margin: 50px auto;
}